# Programming Assignment_23

Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [55]:
def is_symmetrical(a):
    """This function takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not.
A number is symmetrical when it is the same as its reverse. """
    a1=[]
    a2=[]
    for i in str(a):
        a1.append(i)
    for i in reversed(str(a)):
        a2.append(i)
    if a1==a2:
        return True
    else:
        return False

In [56]:
is_symmetrical(7227)

True

In [57]:
is_symmetrical(12567)

False

In [58]:
is_symmetrical(44444444)

True

In [59]:
is_symmetrical(9939)

False

In [60]:
is_symmetrical(1112111)

True

In [61]:
is_symmetrical(6)

True

____________________________________________________________

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [62]:
def multiply_nums(a):
    """This function returns the product of the numbers 
    which are given in a string separated by a comma and space """
    a1=[]
    d=a.split(",")
    for i in d:
        a1.append(eval(i))
    mul=1
    for i in a1:
        mul=mul*i
    return mul

In [63]:
multiply_nums("2,3")

6

In [64]:
multiply_nums("1, 2, 3, 4")

24

In [65]:
multiply_nums("54, 75, 453  ,0 ")

0

In [66]:
multiply_nums("10, -2")

-20

________________________________________________________________

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [67]:
def square_digits(a):
    """This function squares every digit of a number. """
    p=''
    for i in str(a):
         p=p+str(int(i)**2)
    return int(p)

In [68]:
square_digits(9119)

811181

In [69]:
square_digits(2483)

416649

In [70]:
square_digits(3212)

9414

In [71]:
square_digits(4520)

162540

_____________________________________________________

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [72]:
def setify(a):
    """This function sorts a list and removes all duplicate items from it. """
    s=set(a)
    return list(s)

In [73]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [74]:
setify([4, 4, 4, 4])

[4]

In [75]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [76]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

_______________________

ANOTHER WAY TO SLOVE THIS QUESTION :

In [77]:
def setify_1(s):
    """This function sorts a list and removes all duplicate items from it. """
    for i in s:
        if s.count(i)>1:
            for j in range(s.count(i)-1):
                s.remove(i)
    return sorted(s)

In [78]:
setify_1([3, 3, 3, 2, 1])

[1, 2, 3]

In [79]:
setify_1([1, 3, 3, 5, 5])

[1, 3, 5]

In [80]:
setify_1([4, 4, 4, 4])

[4]

In [81]:
setify_1([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [82]:
setify_1([3, 3, 3, 2, 1])

[1, 2, 3]

___________________________________________________

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [83]:
def mean(a):
    """This Function returns the mean of all digits.
    The mean will always be an integer. """
    a1=[]
    for i in str(a):
        a1.append(eval(i))
    mn=int(sum(a1)/len(str(a)))
    return mn

In [84]:
mean(42)

3

In [85]:
mean(12345)

3

In [86]:
mean(666)

6

In [87]:
mean(512)

2

In [88]:
mean(233445561)

3

__________________________________________

________The End_______________