Question1
Create a function that takes an integer and returns a list from 1 to the given number, where:
1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the
number).
2. If the number cannot be divided evenly by 4, simply return the number.
Examples
amplify(4) ➞ [1, 2, 3, 40]
amplify(3) ➞ [1, 2, 3]
amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160,
17, 18, 19, 200, 21, 22, 23, 240, 25]
Notes
 The given integer will always be equal to or greater than 1.
 Include the number (see example above).
 To perform this problem with its intended purpose, try doing it with list
comprehensions. If that&#39;s too difficult, just solve the challenge any way you can.

In [13]:
def amplify(a):
    a1=[]
    for i in range(1,a+1):
        if i%4==0:
            a1.append(i*10)
        else:
            a1.append(i)
    return a1

In [14]:
amplify(12)

[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120]

In [15]:
amplify(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

In [16]:
amplify(3)

[1, 2, 3]

another way (list comprehensions ):

In [19]:
def amplify_list_comp(a):
    list_com =[(i*10) if i%4==0 else i for i in range(1,a+1)]
    return list_com

In [21]:
amplify_list_comp(10)

[1, 2, 3, 40, 5, 6, 7, 80, 9, 10]

______________________________________________________________________

Question2
Create a function that takes a list of numbers and return the number that&#39;s unique.
Examples
unique([3, 3, 3, 7, 3, 3]) ➞ 7
unique([0, 0, 0.77, 0, 0]) ➞ 0.77
unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0
Notes
Test cases will always have exactly one unique number while all others are the same.

In [31]:
def unique(a):
    for i in a:
        if a.count(i)==1:
            return i

In [32]:
unique([2,2,2,2,2,2,2,5,2,2,2,2])

5

In [33]:
m=[2,1,1,1,1,1,1,1]

In [34]:
unique(m)

2

In [45]:
unique([0, 1, 1, 1, 1, 1, 1, 1])

0

In [46]:
unique([0, 0, 0.77, 0, 0])

0.77

___________________________________________________________________

Question3
Your task is to create a Circle constructor that creates a circle with a radius provided by an
argument. The circles constructed must have two getters getArea() (PIr^2) and
getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).

For help with this class, I have provided you with a Rectangle constructor which you can use
as a base example.
Examples
circy = Circle(11)
circy.getArea()
# Should return 380.132711084365
circy = Circle(4.44)
circy.getPerimeter()
# Should return 27.897342763877365
Notes
Round results up to the nearest integer.

In [67]:
class Circle:
    def __init__(self,a):
        self.redi=a
    def getArea(self):
        pi=3.14159265359
        area=pi*((self.redi)**2)
        a=round(area,2)
        return a
    
    def getPerimeter(self):
        pi=3.14159265359
        peri=2*pi*self.redi
        a=round(peri,2)
        
        return a

In [68]:
circy=Circle(11)

In [69]:
circy.getArea()

380.13

In [70]:
circy = Circle(4.44)

In [71]:
circy.getPerimeter()

27.9

_____________________________________________________________________

Question4
Create a function that takes a list of strings and return a list, sorted from shortest to longest.
Examples
sort_by_length([&quot;Google&quot;, &quot;Apple&quot;, &quot;Microsoft&quot;])
➞ [&quot;Apple&quot;, &quot;Google&quot;, &quot;Microsoft&quot;]
sort_by_length([&quot;Leonardo&quot;, &quot;Michelangelo&quot;, &quot;Raphael&quot;, &quot;Donatello&quot;])
➞ [&quot;Raphael&quot;, &quot;Leonardo&quot;, &quot;Donatello&quot;, &quot;Michelangelo&quot;]
sort_by_length([&quot;Turing&quot;, &quot;Einstein&quot;, &quot;Jung&quot;])
➞ [&quot;Jung&quot;, &quot;Turing&quot;, &quot;Einstein&quot;]
Notes
All test cases contain lists with strings of different lengths, so you won&#39;t have to deal with
multiple strings of the same length.

In [82]:
def sort_by_length(a):
    a1=[]
    a2=[]
    for i in a:
        a1.append(len(i))
    for i in sorted(a1):
        for j in a:
            if len(j)==i:
                a2.append(j)
    return a2

In [83]:
sort_by_length(["Google","Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [85]:
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

______________________________________________________________

Question5
Create a function that validates whether three given integers form a Pythagorean triplet. The
sum of the squares of the two smallest integers must equal the square of the largest number to
be validated.

Examples
is_triplet(3, 4, 5) ➞ True
# 3² + 4² = 25
# 5² = 25
is_triplet(13, 5, 12) ➞ True
# 5² + 12² = 169
# 13² = 169
is_triplet(1, 2, 3) ➞ False
# 1² + 2² = 5
# 3² = 9
Notes
Numbers may not be given in a sorted order.

In [92]:
def is_triplet():
    a1=[]
    for i in range(1,4):
        a=eval(input(f"enter the {i}th number :"))
        a1.append(a)
    a2=sorted(a1)
    if a2[0]**2+a2[1]**2==a2[2]**2:
        return True
    else:
        return False

In [93]:
is_triplet()

enter the 1th number :5
enter the 2th number :4
enter the 3th number :3

True

In [94]:
is_triplet()

enter the 1th number :13
enter the 2th number :5
enter the 3th number :12

True

In [95]:
is_triplet()

enter the 1th number :2
enter the 2th number :3
enter the 3th number :1

False

another way :

In [96]:
def is_triplet1(a,b,c):
    a1=[a,b,c]
    a2=sorted(a1)
    if a2[0]**2+a2[1]**2==a2[2]**2:
        return True
    else:
        return False

In [97]:
is_triplet1(2,3,1)

False

In [98]:
is_triplet1(13, 5, 12)

True

In [99]:
is_triplet1(3, 4, 5)

True

_________________________________________________________

_____The End ______