# Programming Assignment_20 :

Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.
Examples
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [8]:
def filter_list(a):
    """This function takes a list of strings and integers, and filters out the list so that it
returns a list of integers only."""
    a1=[]
    for i in a:
        if type(i)==int:
            a1.append(i)
    return a1

In [9]:
filter_list([1,2,3,'a','b',4])

[1, 2, 3, 4]

In [10]:
filter_list(['A',0,'Edabit',1729,'Python','1729'])

[0, 1729]

In [11]:
filter_list(["Nothing","here"])

[]

______________________________________________________

Question2
Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [16]:
def add_indexes(a):
    
    """This fucntion returns the list but with each element's index in the list added to itself. 
    This means it adds 0 to the number at index 0, add 1 to the number at index 1, etc... """
    
    a1=[]
    for i in range(len(a)):
        a1.append(i+a[i])
    return a1

In [17]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [18]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [19]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

__________________________________________________

Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0

In [28]:
def cone_volume(height,radius):
    
    """This function takes the height and radius of a cone as arguments and returns the
   volume of the cone rounded to the nearest hundredth. See the resources tab for the formula."""
    
    volumn=3.1415926535*(radius**2)*(height/3)
    return round(volumn,2)

In [29]:
cone_volume(3, 2)

12.57

In [30]:
cone_volume(15, 6)

565.49

In [31]:
cone_volume(18, 0)

0.0

_________________________________________________________

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220

In [47]:
def triangle(a):
    
    """This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.So this function gives the number of dots with its corresponding triangle 
number of the sequence. """
    
    if a ==1:
        return 1
    else:
        a1=[]
        s=0
        for i in range(1,a+1):
            s=i+s
            a1.append(s)
    return a1[-1]

In [83]:
triangle(1)

1

In [84]:
triangle(6)

21

In [85]:
triangle(215)

23220

_______________________________________________

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [95]:
def missing_num(a):
    """This function takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number."""
    a1=[]
    for i in range(1,11):
        a1.append(i)
    for i in a1:
        if i in a:
            pass
        else:
            return i

In [96]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [97]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [98]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7

___________________________________________________

_____________The End________________________