1. Write a Python program to find sum of elements in list?

In [6]:
a1=[2,3,67,8,5,89]
s=0
for i in a1:
    s=s+i
print("The sum of the elements of the given list is ",s)

The sum of the elements of the given list is  174

_______Another way___________

In [7]:
a1=[2,3,67,8,5,89]
sum(a1)

174

_____________________________________________

2. Write a Python program to Multiply all numbers in the list?

In [9]:
a1=[2,3,67,8,5,89]
m=1
for i in a1:
    m=m*i
print("The multiplication of the elements of the given list is ",m)

The multiplication of the elements of the given list is  1431120

____________________________________

3. Write a Python program to find smallest number in a list?

In [38]:
a1=[2,30,67,8,100]
small=a1[0]
for i in range(1,len(a1)):
    if a1[i]<small:
        small=a1[i]
    else:
        small=small
print(f"{small} is the smallest element in the given list .")

2 is the smallest element in the given list .

_________Another Way__________

In [3]:
a1=[20,30,67,8,100]
s=sorted(a1)
print(f"{s[0]} is the smallest element in the given list.")

8 is the smallest element in the given list.

_________________________________________

4. Write a Python program to find largest number in a list?

In [55]:
a1=[20000,30,67,800,100,39000,34,3,4,670]
larg=a1[0]
for i in range(1,len(a1)):
    if a1[i]>larg:
        larg=a1[i]
    else:
        larg=larg
print(f"{larg} is the largest element in the given list .")

39000 is the largest element in the given list .

_________Another way_____________

In [56]:
a1=[20000,30,67,800,100,39000,34,3,4,670]
a1.sort(reverse=True)
print(f"{a1[0]} is the largest element in the given list .")

39000 is the largest element in the given list .

______________________________________________________

5. Write a Python program to find second largest number in a list?

In [5]:
a1=[23,2,2,34,2]
s=sorted(a1)
print(f"{s[-2]} is the second largest number of the given list. ")

23 is the second largest number of the given list.

________________________________________

6. Write a Python program to find N largest elements from a list?

In [41]:
x=int(input("Enter the value of N that is for N th largest number:  "))
a1=[12,3,45,334,67,78,55,66,90,12,12]
s=sorted(a1)
print(f"{s[-x]} is the {x}th largest number in this list.")

Enter the value of N that is for N th largest number:  3
78 is the 3th largest number in this list.

___________________________________________________

7. Write a Python program to print even numbers in a list?

In [42]:
l=[12,44,877,65,99,32,34,33,12,14,15,73,82,89,41]
print("All the even numbers of this list are :")
for i in l:
    if i%2==0:
        print(i)

All the even numbers of this list are :
12
44
32
34
12
14
82

____________________________________

8. Write a Python program to print odd numbers in a List?

In [13]:
l=[12,44,877,65,99,32,34,33,12,14,15,73,82,89,41]
print("All the odd numbers of this list are :")
for i in l:
    if i%2!=0:
        print(i)

All the odd numbers of this list are :
877
65
99
33
15
73
89
41

___________________________________________

9. Write a Python program to Remove empty List from List?

In [21]:
l=[34,32,1,[],4,56,[],45,[45,4,34,5],67,[],45,[]]
for i in l:
    if type(i)==list:
        if len(i)==0:
            l.remove(i)
print("After the removing all the empty list from the given list the final list be :",l)

After the removing all the empty list from the given list the final list be : [34, 32, 1, 4, 56, 45, [45, 4, 34, 5], 67, 45]

____________________________________________

10. Write a Python program to Cloning or Copying a list?

In [22]:
l=[23,3,4,5,6,77,88,98,34]
a1=[]
for i in l:
    a1.append(i)
print("After cloning or copying a list the new list be :",a1)

After cloning or copying a list the new list be : [23, 3, 4, 5, 6, 77, 88, 98, 34]

_______Another Way_____________

In [24]:
l=[23,3,4,5,6,77,88,98,34]
a1=l
print("After cloning or copying a list the new list be :",a1)

After cloning or copying a list the new list be : [23, 3, 4, 5, 6, 77, 88, 98, 34]

___________________________________________

11. Write a Python program to Count occurrences of an element in a list?

In [28]:
l=[23,3,4,5,6,77,88,98,34,3,3,3,66,77,88,88,34]
l1=set(l)
for i in l1:
    print(f"{i} occurs {l.count(i)} times in the list.")

98 occurs 1 times in the list.
3 occurs 4 times in the list.
4 occurs 1 times in the list.
5 occurs 1 times in the list.
6 occurs 1 times in the list.
34 occurs 2 times in the list.
66 occurs 1 times in the list.
77 occurs 2 times in the list.
23 occurs 1 times in the list.
88 occurs 3 times in the list.

__________Another Way___________

In [37]:
l=[23,3,4,5,6,77,88,98,34,3,3,3,66,77,88,88,34]
for i in set(l):
    p=0
    for j in range(len(l)):
        if l[j]==i:
            p=p+1
    print(f"{i} occurs {p} times in the given list.")

98 occurs 1 times in the given list.
3 occurs 4 times in the given list.
4 occurs 1 times in the given list.
5 occurs 1 times in the given list.
6 occurs 1 times in the given list.
34 occurs 2 times in the given list.
66 occurs 1 times in the given list.
77 occurs 2 times in the given list.
23 occurs 1 times in the given list.
88 occurs 3 times in the given list.

_________________________________________________

____________The End_________________